<form data-program-actor="{{actor.id}}" id="form">
    <div id="programming-effect">
        <input type="text" name="{{program.id}}.effect.field"
            value="{{program.effect.field}}">
        <div class="text">=</div>
        <input type="text" name="{{program.id}}.effect.value"
            value="{{program.effect.value}}">
    </div>
</form>