<form data-program-actor="{{actor.id}}" id="form">
    <ul id="program-list">
        {{#each programs}}
        <li data-program-id="{{id}}" class="program-list-item">
            <input type="text" name="{{id}}.arg1" value="{{arg1}}">
            <select name="{{id}}.op">
                <option value="equal">==</option>
                <option value="greater">></option>
                <option value="gequal">>=</option>
                <option value="less"><</option>
                <option value="lequal"><=</option>
            </select>
            <input type="text" name="{{id}}.arg2" value="{{arg2}}">
            <button class="transparent-button" data-action="program"><i class="fas fa-gears"></i></button>
            <button class="transparent-button" data-action="delete"><i class="fas fa-trash"></i></button>
        </li>
        {{/each}}
    </ul>
    <hr />
    <div id="buttons">
        <button type="button" data-action="create">
            {{localize "ap.addNew"}}
        </button>
        <button type="button" data-action="reset">
            {{localize "ap.reset"}}
        </button>
    </div>
</form>